nav {
  background-color: #072642;
  color: #ffffff;
  font-family: sans-serif;
  padding: 1.5em;
  height: 15%;
  width: 100%;
  position: fixed;
  top: 0;
  border-width: 0;
}

nav {
  background-color: #072642;
  color: #ffffff;
  font-family: sans-serif;
  padding: 1.5em;
  height: 15%;
  width: 100%;
  position: fixed;
  top: 0; 
  border-width: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: Bungee, sans-serif;
}
.right-container {
  font-size: 1.125rem;
  align-items: flex-end;
}

.nav-right {
  font-family: "Source Sans Pro", sans-serif;
}

.arrow {
  display: flex;
  padding: 0.2rem;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.875rem;
  color: red;
}
