.new-tweet {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 20px;
}
h2 {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  border: 0;
  outline: 0;
  width: 35vw;
  background: transparent;
  border-bottom: 2px solid #545149;
  padding: 10px;
  overflow: hidden;
  resize: none;
}

.button {
  background-color: #072642;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.875rem;
  font-family: Bungee, sans-serif;
}

.counter {
  font-family: Bungee, sans-serif;
}

.counter-red {
  color: red;
}

.below-tweet {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#error-long, #error-short {
  text-align: center;
  margin: 10px 0px;
  padding: 12px;
  color: #D8000C;
  background-color: #FFD2D2;
  display: none;
}

@media (min-width: 1024px) {
  textarea {
    display: flex;
 flex-direction: column;
    font-family: "Source Sans Pro", sans-serif;
    border: 0;
    outline: 0;
    width: 35vw;
    background: transparent;
    border-bottom: 2px solid #545149;
    padding: 10px;
    overflow: hidden;
    resize: none;
  }
}

